# Exploratory Data Analysis - Assignment

## üîç Overview
This lab is designed to help you practice exploratory data analysis using Python. You will work with some housing data for the state of California. You will use various data visualization and analysis techniques to gain insights and identify patterns in the data, and clean and preprocess the data to make it more suitable for analysis. The lab is divided into the following sections:

- Data Loading and Preparation
- Data Visualization
- Data Cleaning and Preprocessing (using visualizations)

## üéØ Objectives
This assignment assess your ability to:
- Load and pre-process data using `pandas`
- Clean data and preparing it for analysis
- Use visualization techniques to explore and understand the data
- Use visualization techniques to identify patterns and relationships in the data
- Use visualization to derive insights from the data
- Apply basic statistical analysis to derive insights from the data
- Communicate your findings through clear and effective data visualizations and summaries

#### Package Imports
We will keep coming back to this cell to add "import" statements, and configure libraries as we need

In [22]:
# Common imports
import numpy as np
import pandas as pd
from scipy.stats import trim_mean

# To plot figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix


# Configure pandas to display 500 rows; otherwise it will truncate the output
pd.set_option('display.max_rows', 500)
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)
plt.style.use("bmh")

## Housing Data in California

### Task 1:  Load the dataset
The dataset is available in the `data/housing.csv` file. Check the file to determine the delimiter and/or the appropriate pandas method to use to load the data.

Make sure you name the variable `housing` and that you use the appropriate pandas method to load the data.

In [32]:
# üíª Import the dataset in the project (data/housing.csv) into a dataframe called (housing)
housing = pd.read_csv('./data/housing.csv', header=None, names=["longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value","ocean_proximity"])

### Task 2: Confirm the data was loaded correctly

#### 2.1: Get the first 6 records of the dataset

In [33]:
# üíª Get the first 6 records of the dataframe
housing.head(n=6)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
2,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
4,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
5,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#### 2.2: Get the last 7 records of the dataset

In [25]:
# üíª Get the last 7 records of the dataframe
housing.tail(7)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20634,"-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20635,"-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20636,"-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20637,"-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20638,"-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20639,"-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20640,"-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.3: Get a random sample of 10 records

In [26]:
# üíª Get a random 10 records of the dataframe
housing.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5791,"-118.25,34.15,20.0,3960.0,1027.0,1729.0,978.0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6508,"-118.07,34.08,38.0,2462.0,553.0,1843.0,538.0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9420,"-122.52,37.88,52.0,176.0,50.0,88.0,46.0,3.8068...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16580,"-121.43,37.74,40.0,859.0,196.0,427.0,176.0,3.5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17766,"-121.86,37.35,43.0,1536.0,371.0,1256.0,357.0,2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,"-122.28,37.82,52.0,1238.0,288.0,622.0,259.0,1....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11837,"-120.98,39.08,20.0,4570.0,906.0,2125.0,815.0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,"-119.8,36.29,7.0,479.0,84.0,327.0,103.0,5.1728...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18579,"-121.77,36.93,24.0,1943.0,447.0,1844.0,461.0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19437,"-121.0,37.69,18.0,3469.0,661.0,1452.0,628.0,3....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.4: Get information about the dataset, including the number of rows, number of columns, column names, and data types of each column

In [27]:
# üíª Show information about the different data columns (columns, data types, ...etc.)
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20641 non-null  object
 1   latitude            0 non-null      float64
 2   housing_median_age  0 non-null      float64
 3   total_rooms         0 non-null      float64
 4   total_bedrooms      0 non-null      float64
 5   population          0 non-null      float64
 6   households          0 non-null      float64
 7   median_income       0 non-null      float64
 8   median_house_value  0 non-null      float64
 9   ocean_proximity     0 non-null      float64
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

> üö© This is a good point to commit your code to your repository.

### Task 3: Understand the data types
For each of the 10 columns, Identify the data type: (Numerical-Continuous, Numerical-Discrete, Categorical-Ordinal, Categorical-nominal )

<details>
<summary>Click here for the data type diagram</summary>

  ![Data types](https://miro.medium.com/max/1400/1*kySPZcf83qLOuaqB1vJxlg.jpeg)
</details>

Longitude:          üíª: Numerical-Continuous
Latitude:           üíª: Numerical-Continuous
Housing Median Age: üíª: Numerical-Continuous
Total Rooms:        üíª: Numerical-Discrete
Total Bedrooms:     üíª: Numerical-Discrete
Population:         üíª: Numerical-Discrete
Households:         üíª: Numerical-Discrete
Median Income:      üíª: Numerical-Continuous
Median House Value: üíª: Numerical-Continuous
Ocean Proximity:    üíª: Categorical-Ordinal

> üö© This is a good point to commit your code to your repository.

### Task 4: Understand the data
#### 4.1: Get the summary statistics for the numerical columns

In [28]:
# üíª Show the descriptive statistics information about the columns in the data frame
housing.describe()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 4.2: For the categorical columns, get the frequency counts for each category

<details>
  <summary>ü¶â Hints</summary>

  - Use the `value_counts()` method on the categorical columns
</details>

In [8]:
# üíª Show the frequency of the values in the ocean_proximity column

> üö© This is a good point to commit your code to your repository.

### Task 5: Visualize the data

#### 5.1: Visualize the distribution of the numerical columns
In a single figure, plot the histograms for all the numerical columns. Use a bin size of 50 for the histograms

In [9]:
# üíª Plot a histogram of all the data features( with a bin size of 50)

#### 5.2: Visualize the distribution of only one column
Plot the histogram for the `median_income` column. Use a bin size of 50 for the histogram

In [10]:
# üíª plot a histogram of only the median_income

> üö© This is a good point to commit your code to your repository.

#### 5.3: Visualize the location of the houses using a scatter plot
In a single figure, plot a scatter plot of the `longitude` and `latitude` columns. 


Try this twice, once setting the `alpha` parameter to set the transparency of the points to 0.1, and once without setting the `alpha` parameter.

In [11]:
# üíª scatter plat without alpha

In [12]:
# üíª scatter plat with alpha

> üö© This is a good point to commit your code to your repository.

üíØ‚ú® For 3 Extra Credit points; Use the Plotly express to plot the scatter plot on a map of california

(üìú Check out the examples on their docs)[https://plotly.com/python/scatter-plots-on-maps/]

In [13]:
# üíªüíØ‚ú® Plot the data on a map of California

> üö© This is a good point to commit your code to your repository.

### Task 6: Explore the data and find correlations

#### 6.1: Generate a correlation matrix for the numerical columns

In [14]:
# üíª Get the correlation matrix of the housing data

#### 6.2: Get the Correlation data fro the `median_house_age` column
sort the results in descending order

In [15]:
# üíª Get the correlation data for just the median_house_age

#### 6.2: Visualize the correlation matrix using a heatmap
- use the coolwarm color map
- show the numbers on the heatmap

In [16]:
# üíª Plot the correlation matrix as a heatmap

#### 6.3: Visualize the correlations between some of the features using a scatter matrix
- Plot a scatter matrix for the `total_rooms`, `median_house_age`, `median_income`, and `median_house_value` columns

In [17]:
# üíª using Pandas Scatter Matrix Plotting, Plot the scatter matrix for (median_house_value, median_income, total_rooms, housing_median_age)

#### 6.4: Visualize the correlations between 2 features using a scatter plot
- use an `alpha` value of 0.1

In [18]:
# üíª Plot the scatter plot for just (median_income and median_house_value)

#### 6.5: ‚ùì What do you notice about the chart? what could that mean?
What could the lines of values at the top of the chart mean here?

üíª:

> üö© This is a good point to commit your code to your repository.

### Task 7: Data Cleaning - Duplicate Data

#### 7.1: Find duplicate data

In [19]:
# üíª Identify the duplicate data in the dataset

### Task 8: Data Cleaning - Missing Data

#### 8.1: Find missing data

In [20]:
# üíª Identify the missing data in the dataset

#### 8.2: show a sample of 5 records of the rows with missing data
Notice there are 2 keywords here: `sample` and (rows with missing data)

<details>
  <summary>ü¶â Hints:</summary>

  * You'll do pandas filtering here
  * You'll need to use the `isna()` or `isnull()` method on the 1 feature with missing data. to find the rows with missing data
  * you'll need to use the `sample()` method to get a sample of 5 records of the results
</details>

In [21]:
# üíª use Pandas Filtering to show all the records with missing `total_bedrooms` field

#### 8.3: Calculate the central tendency values of the missing data feature
* Calculate the mean, median, trimmed mean

In [22]:
# üíª get the mean, median and trimmed mean of the total_bedrooms column
total_bedrooms_median = 0
total_berooms_mean = 0
total_bedrooms_trimmed_mean = 0

print(f"Median: {total_bedrooms_median}")
print(f"Mean: {total_berooms_mean}")
print(f"Trimmed Mean: {total_bedrooms_trimmed_mean}")

Median: 0
Mean: 0
Trimmed Mean: 0

#### 8.4: Visualize the distribution of the missing data feature
* Plot a histogram of the missing data feature (total_bedrooms)

In [23]:
# üíª Plot the histogram of the total_bedrooms column

#### 8.5: Choose one of the central tendency values and use it to fill in the missing data
* Justify your choice
* Don't use the `inplace` parameter, instead, create a new dataframe with the updated values. (this is a bit challenging)
* show the first 5 records of the new dataframe to confirm we got the full dataframe

[üìú You should find a good example here](https://www.sharpsightlabs.com/blog/pandas-fillna/#example-2)

In [24]:
# üíª Fill the missing values in the total_bedrooms column with an appropriate value, then show the first 5 records of the new dataframe

‚ùì Why did you choose this value?

üíª

#### 8.6: Confirm that there are no more missing values in the new dataframe
* make sure the dataframe contains all features, not just the `total_bedrooms` feature

In [25]:
# üíª Confirm the new dataframe has no missing values

#### 8.7: Dropping the missing data
assume we didn't want to impute the missing data, and instead, we wanted to drop the rows with missing data.
* don't use the `inplace` parameter, instead, create a new dataframe with the updated values.

In [26]:
# üíª drop the missing rows of the total_bedroom and save it to a new dataframe

#### 8.8: Confirm that there are no more missing values in the new dataframe
* make sure the dataframe contains all features, not just the `total_bedrooms` feature

In [27]:
# üíª Confirm the new dataframe has no missing values

> üö© This is a good point to commit your code to your repository.

## Wrap up
Remember to update the self reflection and self evaluations on the `README` file.

Make sure you run the following cell; this converts this Jupyter notebook to a Python script. and will make the process of reviewing your code on GitHub easier

In [28]:
# ü¶â: The following command converts this Jupyter notebook to a Python script.
!jupyter nbconvert --to python notebook.ipynb

[NbConvertApp] Converting notebook notebook.ipynb to python
[NbConvertApp] Writing 10275 bytes to notebook.py

> üö© **Make sure** you save the notebook and make one final commit here